@keyframes slideIn {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes rotateSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0.8;
    transform: translateX(125px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}