@use '/src/sass/base/variables.scss' as *;

@mixin title {
	color: $dark;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
}

@mixin button {
	display: block;
	padding: 0 10px;
	border-radius: 2px;
	border: 1px solid $dark;
	color: $dark;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	line-height: normal;
	background: transparent;
	text-decoration: unset;
	cursor: pointer;
}

@mixin angle-decoration {
	&::before {
		content: '';
		position: absolute;
		display: inline-block;
		top: 0;
		left: 0;
		width: 200px;
		height: 200px;
		border-top: 1px solid $dark;
		border-left: 1px solid $dark;
		z-index: 1;
	}
}

@mixin validationErrorMessage {
	display: inline-block;
	padding: 3px 6px;
	border-radius: 2px;
	position: absolute;
	top: calc(100% + 2px);
	left: 0;
	font-size: 12px;
	line-height: normal;
	font-style: normal;
	font-weight: 400;
	&::before {
		content: '';
		position: absolute;
		display: inline-block;
		border: 4px solid transparent;
		border-bottom: 4px solid $light;
		border-top: unset;
		top: -4px;
		left: 2px;
	}
}