@use '/src/sass/base/variables.scss' as *;

.about {
	margin-top: 50px;
	&__wrapper {
		margin-top: 60px;
	}
	&__grid {
		margin-top: 60px;
		display: grid;
		grid-template-columns: 100%;
		row-gap: 35px;
	}
	&__img  {
		img {
			width: 100%;
			height: auto;
			aspect-ratio: 3.4/2.34;
			object-fit: cover;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
		}
	}
	&__text {
		p {
			color: $dark;
			font-size: 16px;
			line-height: normal;
			font-style: normal;
			font-weight: 400;
			margin-bottom: 19px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 768px) {
	.about {
		&__img  {
			padding: 0 60px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.about {
		&__grid {
			grid-template-columns: 1fr 1fr;
		}
		&__img  {
			padding: 0 20px 0 0;
		}
	}
}

@media screen and (min-width: 1920px) {
	.about {
		margin-top: 40px;
		&__wrapper {
			margin-top: 100px;
		}
		&__grid {
			margin-top: 100px;
		}
		&__text {
			p {
				font-size: 20px;
				margin-bottom: 23px;
			}
		}
	}
}