@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/animation.scss' as *;

.catalog {
	padding-top: 50px;
	&__title {
		margin-top: 50px;
	}
	&__tabs {
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
		gap: 12px 50px;
		padding: 13px 35px;
		border: 1px solid $dark;
		width: max-content;
		max-width: 100%;
	}
	&__tab {
		border: unset;
		padding: 0;
		background: unset;
		color: #000;
		font-size: 20px;
		line-height: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		position: relative;
		cursor: pointer;
		&_active::after {
			content: '';
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 1px;
			bottom: -2px;
			left: 0;
			background-color: #000;
		}
	}
	&__content {
		margin-top: 55px;
		&-item {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			gap: 20px;
			justify-items: center;
			align-items: start;
		}
		&-card {
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
			max-width: 400px;
		}
		&-img {
			width: 100%;
			height: auto;
			aspect-ratio: 3.4/2;
			object-fit: cover;
		}
		&-information {
			border: 1px solid $dark;
			border-top: unset;
			padding: 11px 12px;
		}
		&-name {
			font-size: 16px;
			color: $dark;
			line-height: normal;
			font-style: normal;
			font-weight: 500;
		}
		&-price {
			font-size: 16px;
			color: $dark;
			line-height: normal;
			font-style: normal;
			font-weight: 500;
			margin-top: 8px;
		}
	}
	&__content-item-active {
		animation: slideLeft 0.6s ease-out forwards;
	}
}

@media screen and (min-width: 768px) {
	.catalog {
		&__content {
			&-item {
				padding: 10px 10px 0 10px;
				position: relative;
				@include angle-decoration
			}
			&-card {
				position: relative;
				z-index: 2;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.catalog {
		&__content {
			&-item {
				padding: 25px 25px 0 25px;
				position: relative;
				gap: 35px;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.catalog {
		padding-top: 40px;
		&__title {
			margin-top: 100px;
		}
		&__content {
			&-item {
				gap: 25px 83px;
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}