.getintouch {
	padding-top: 60px;
	&__wrapper {
		margin-top: 60px;
	}
	&__img {
		display: none;
	}
	&__img_float {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.getintouch {
		&__wrapper {
			margin-top: 45px;
		}
		&__form {
			position: relative;
			min-height: 85px;
			padding-left: 24px;
		}
		&__img_float {
			display: block;
			width: 85px;
			height: 85px;
			object-fit: contain;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	.getintouch {
		&__wrapper {
			margin-top: 80px;
		}
		&__img-left {
			padding-right: 20px;
		}
		&__form {
			padding-left: 20px;
		}
		&__img {
			display: block;
			width: 100%;
			height: 341px;
			object-fit: cover;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25)
		}
	}
}

@media screen and (min-width: 1920px) {
	.getintouch {
		padding-top: 100px;
		&__wrapper {
			margin-top: 80px;
		}
		&__img-left {
			padding-right: 0px;
		}
		&__form {
			padding-left: 147px;
			padding-right: 75px;
		}
		&__img {
			height: 356px;
		}
	}
}