@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.getintouch {
	padding-top: 60px;
	&__wrapper {
		margin-top: 60px;
	}
	&__img {
		display: none;
	}
	&__img_float {
		display: none;
	}
	fieldset {
		border: none;
		margin: 0 0 8px 0;
		padding: 0;
	}
	&__label {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		color: $dark;
	}
	&__input {
		width: 100%;
		height: 48px;
		padding: 10px 15px;
		border-radius: 2px;
		border: 1px solid #e2e1e5;
		background: #fff;
		color: $dark;
		font-size: 14px;
		line-height: 28px;
		max-width: 460px;
		&::placeholder {
			color: $ui-disable;
		}
		&:focus {
			border: 1px solid #fff;
			outline: 1px solid $dark;
		}
	}
	&__textarea {
		width: 100%;
		height: 132px;
		padding: 10px 15px;
		border-radius: 2px;
		border: 1px solid #e2e1e5;
		background: #fff;
		color: $dark;
		font-size: 14px;
		line-height: 28px;
		resize: none;
		max-width: 460px;
		&::placeholder {
			color: $ui-disable;
		}
		&:focus {
			border: 1px solid #fff;
			outline: 1px solid $dark;
		}
	}
	&__checkblock {
		margin-top: 20px;
		display: flex;
		align-items: center;
		a {
			color: #a22dc6;
			text-decoration: none;
			margin-left: 3px;
		}
	}
	&__checkbox {
		height: 15px;
		width: 15px;
		border: 1px solid $dark;
		background-color: transparent;
		border-radius: 2px;
		margin-right: 15px;
		appearance: none;
		cursor: pointer;
		&:checked {
			background: 1px center/90% no-repeat url('/src/img/icons/check-mark-black.svg');
		}
	}
	&__btn {
		margin-top: 20px;
	}
	& .just-validate-error-field {
		border: 1px solid $ui-error;
		&:focus {
			outline: 1px solid $ui-error;
		}
	}
	.getintouch__input-block, .textarea-error-message, .checkbox-error-message {
		position: relative;
		.just-validate-error-label {
			color: $light !important;
			background: $dark;
			@include validationErrorMessage;
			&::before {
				border-bottom: 4px solid $dark;
			}
		}
	}
	.textarea-error-message, .checkbox-error-message {
		.just-validate-error-label {
			top: calc(100% - 1px);
		}
	}
}

@media screen and (min-width: 768px) {
	.getintouch {
		&__wrapper {
			margin-top: 45px;
		}
		&__form {
			position: relative;
			min-height: 85px;
			padding-left: 24px;
		}
		&__img_float {
			display: block;
			width: 85px;
			height: 85px;
			object-fit: contain;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		&__textarea {
			width: 300px;
		}
		&__input {
			width: 300px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.getintouch {
		&__wrapper {
			margin-top: 80px;
		}
		&__img-left {
			padding-right: 20px;
		}
		&__form {
			padding-left: 20px;
		}
		&__img {
			display: block;
			width: 100%;
			height: 341px;
			object-fit: cover;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25)
		}
		&__input {
			&:hover {
				border: 1px solid $dark;
			}
		}
		&__textarea {
			&:hover {
				border: 1px solid $dark;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.getintouch {
		padding-top: 100px;
		&__wrapper {
			margin-top: 80px;
		}
		&__img-left {
			padding-right: 0px;
		}
		&__form {
			padding-left: 147px;
			padding-right: 75px;
		}
		&__img {
			height: 356px;
		}
		fieldset {
			display: flex;
			justify-content: space-between;
		}
	}
}