@use '/src/sass/base/variables.scss' as *;

.works {
	padding-top: 60px;
	&__swiper {
		max-width: 400px;
		margin: 40px auto 0 auto;
	}
	.swiper-slide img {
		width: 100%;
		height: auto;
		aspect-ratio: 3.4/2.2;
		object-fit: cover;
	}
	.swiper-pagination {
		position: static;
		margin-top: 21px;
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			border-radius: 0;
			background-color: $dark;
			opacity: 1;
			margin: 0 6px;
			-webkit-tap-highlight-color: transparent;
			&.swiper-pagination-bullet-active {
				background-color: $ceramic;
			}
		}
	}
	.works__swiper-button-next,
	.works__swiper-button-prev {
		display: none !important;
	}
}

@media screen and (min-width: 768px) {
	.works {
		padding-top: 60px;
		&__swiper {
			margin-top: 45px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.works {
		padding-top: 60px;
		&__swiper {
			max-width: unset;
			margin-top: 80px;
			position: static;
		}
		.swiper-pagination {
			margin-top: 16px;
		}
		.works__slider-outer {
			position: relative;
			padding: 0 40px;
		}
		.works__swiper-button-next,
		.works__swiper-button-prev {
			display: flex !important;
			position: absolute;
			top: calc(50% - 29px);
			background: unset;
			padding: 5px;
			margin: 0;
			border: unset;
			cursor: pointer;
			span {
				display: inline-block;
				font-size: 21px;
				margin: 0;
				transform: scaleX(0.6);
				&::before {
					margin: 0;
				}
			}
			svg {
				display: none;
			}
		}
		.works__swiper-button-prev {
			left: 6px;
		}
		.works__swiper-button-next {
			right: 6px;
		}
	}
}

@media screen and (min-width: 1920px) {
	.works {
		padding-top: 100px;
		.works__slider-outer {
			position: relative;
			padding: 0 85px;
		}
		.works__swiper-button-next,
		.works__swiper-button-prev {
			span {
				display: inline-block;
				font-size: 21px;
				margin: 0;
				color: $dark;
				transform: scaleX(1);
			}
		}
		.works__swiper-button-prev {
			left: 35px;
		}
		.works__swiper-button-next {
			right: 35px;
		}
	}
}