@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.btn-default {
	@include button;
	width: 230px;
	height: 50px;
	font-size: 20px;
	transition: 0.5s all, 0s margin;
}

.btn-send {
	@include button;
	width: 220px;
	height: 40px;
	transition: 0.5s all, 0s margin;
	font-size: 16px;
	&:focus {
		border-color: $ceramic;
		color: $dark;
	}
	&:disabled {
		color: $ui-disable;
		border-color: $ui-disable
	}
}

.btn-submit {
	@include button;
	width: 90px;
	height: 40px;
	transition: 0.5s all, 0s margin;
	font-size: 16px;
	border: 1px solid $light;
	color: $light;
	&:focus {
		border: 1px solid $light;
		color: $light;
	}
	&:disabled {
		color: $ui-disable;
		border-color: $ui-disable
	}
}

@media screen and (min-width: 1200px) {
	.btn-default {
		&:hover {
			background-color: $dark;
			color: $light;
		}
		&:active {
			background-color: rgba(217, 217, 217, 0.1);
			box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.40) inset;
			color: $dark;
			border: unset;
		}
	}
	.btn-send {
		&:hover {
			border-color: $ceramic;
			color: $ceramic;
		}
		&:active {
			border-color: $ceramic;
			color: $dark;
		}
	}
}

@media screen and (min-width: 1920px) {
	.btn-default {
		width: 330px;
		height: 60px;
	}
}