@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/animation.scss' as *;

.spinner-animation {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		gap: 10px
	}
	&__spinner {
		width: 30px;
		height: 30px;
		border: 5px solid transparent;
		border-top: 5px solid $light;
		border-bottom: 5px solid $light;
		border-radius: 50%;
		animation: rotateSpinner 1s linear infinite;
	}
	&__sending {
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: normal;
		color: $light;
	}
	&__success {
		display: none;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: normal;
		color: #61e6af;
	}
	&.sending {
		display: inline-block;
		&.success {
			.spinner-animation {
				&__spinner {
					display: none;
				}
				&__sending {
					display: none;
				}
				&__success {
					display: initial;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.spinner-animation {
		&__sending {
			font-size: 20px;
		}
		&__success {
			font-size: 20px;
		}
	}
}